div(class='header clearfix')
  nav
    ul(class='nav nav-pills pull-right')
      li(class=about role='presentation' style='margin-top: 10px; margin-right: 15px;')        
        p(class='twitter-right-btn')  
          a(class='twitter-follow-button' href='https://twitter.com/leagueofloveapp'
            data-size='default' data-show-count='false' data-show-screen-name='false')
      li(class=home role='presentation')
        a(href='/') Home
      li(class=about role='presentation')
        a(href='/about') Sobre
    h3(class='title-navbar text-muted') League of Love
  p(class='twitter-upper-btn')
    a(class='twitter-follow-button' href='https://twitter.com/leagueofloveapp'
      data-size='default' data-show-count='false' data-show-screen-name='false')